name: Generate Snake

on:
  # 每天午夜运行一次
  schedule:
    - cron: "0 0 * * *" 
  # 允许手动运行
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#00f2ff&color_dots=#161b22,#452899,#6d28d9,#9854e6,#3b82f6
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#00f2ff&color_dots=#161b22,#452899,#6d28d9,#9854e6,#3b82f6
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
