name: Generate Snake

on:
  # 每天午夜自动运行
  schedule:
    - cron: "0 0 * * *" 
  
  # 允许手动触发
  workflow_dispatch:

  # 当推送到 main 分支时自动运行 (方便调试)
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          # 【重要修改】这里使用了更清晰的写法来定义输出文件
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#FA1C16&color_dots=#161b22,#023812,#179E05,#10ff4c,#8BFDFE
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#FA1C16&color_dots=#161b22,#023812,#179E05,#10ff4c,#8BFDFE
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
